[submodule "tools/CMock"]
	path = tools/CMock
	url = https://github.com/ThrowTheSwitch/CMock
	update = none
[submodule "test/FreeRTOS-Kernel"]
	path = test/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
	update = none
