// MISRA C-2012 Rules

{
    version : "2.0",
    standard : "c2012",
    title: "Coverity MISRA Configuration",
    deviations : [
        // Disable the following rules.
        {
            deviation: "Rule 3.1",
            reason: "We post links which contain // inside comments blocks"
        },
        {
            deviation: "Directive 4.5",
            reason: "Allow names that MISRA considers ambiguous (such as FreeRTOS_ntohl and FreeRTOS_htonl)."
        },
        {
            deviation: "Rule 8.7",
            reason: "Functions are interfaces to be called by application modules."
        },
        {
            deviation: "Rule 19.2",
            reason: "Unions are used to reduce the memory footprint."
        },
        {
            deviation: "Rule 20.1",
            reason: "#includes are used to include compiler specific attributes to make (packed structures)"
        },
        {
            deviation: "Rule 2.5",
            reason: "We use unused macros for backward compatibility in addition to macros comming from FreeRTOS"
        }
    ]
}
