// MISRA C-2012 Rules

{
    version : "2.0",
    standard : "c2012",
    title: "Coverity MISRA Configuration",
    deviations : [
        // Disable the following rules.
        {
            deviation: "Rule 3.1",
            reason: "We post links which contain // inside comments blocks"
        },
        {
            deviation: "Directive 4.5",
            reason: "Allow names that MISRA considers ambiguous (such as FreeRTOS_ntohl and FreeRTOS_htonl)."
        },
        {
            deviation: "Rule 8.7",
            reason: "Functions are interfaces to be called by application modules."
        },
        {
            deviation: "Rule 19.2",
            reason: "Unions are used to reduce the memory footprint."
        },
        {
            deviation: "Rule 20.1",
            reason: "#includes are used to include compiler specific attributes to make (packed structures)"
        },
        {
            deviation: "Rule 2.5",
            reason: "We use unused macros for backward compatibility in addition to macros comming from FreeRTOS"
        },
        {
            deviation: "Rule 5.4",
            reason: "In C90 First 31 characters should be different; in C99 first 63 characters should be significant"
        },
        {
            deviation: "Rule 2.3",
            reason: "The way we declare structures are conformant with the FreeRTOS kernel, which leaves somes types unused."
        },
        {
            deviation: "Rule 2.4",
            reason: "Similar to the FreeRTOS Kernel, structures are always declared with both a struct tag and typedef alias. Some of these structs are always referred to by their typedef alias and thus the corresponding tags are unused."
        },
        {
            deviation: "Directive 4.8",
            reason: "We include lots of header files from other sources such as the kernel which defines structures that violate that Dir"
        },
        {
            deviation: "Directive 4.9",
            reason: "Macros are used for performance reason"
        },
        {
            deviation: "Rule 15.4",
            reason: "Multiple breaks in a do { ... } while ( 0 ); block to make the code cleaner"
        }
    ]
}
