name: Release automation

permissions:
  contents: write
  pull-requests: write

on:
  workflow_dispatch:
    inputs:
      version_number:
        description: 'Release Version Number (Eg, v1.0.0)'
        required: true
      branch:
        description: 'Branch to release from'
        required: false
        default: 'main'

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Release
        uses: FreeRTOS/CI-CD-Github-Actions/release@main
        with:
          version_number: ${{ github.event.inputs.version_number }}
          branch: ${{ github.event.inputs.branch }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          repo_build_command: rm -rf ../build && cmake -S. -B ../build -DSTANDALONE_TEST_BUILD_UNIX=1 && make -C ../build all
          run_test_command: 'sudo apt-get install -y lcov unifdef ninja-build && rm -rf ../build && cmake --fresh -G Ninja -S test/unit-test -B ../build/ -DBUILD_CLONE_SUBMODULES=1 -DSANITIZE=address,undefined && ninja -C ../build && ctest --test-dir ../build/ -E system --output-on-failure'
